/* Reset CSS */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    scrollbar-width: none;
    -ms-overflow-style: none;
}

body {
    border: 2px solid #fff;
    padding: 0;
    margin: 20px;
    font-family: 'Open Sans', sans-serif;
    background-image: url(https://cdn.wallpapersafari.com/12/49/e1HDgu.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    overflow-x: hidden; /* Hide horizontal scrollbar */
}

/* Add this to hide the vertical scrollbar */
body::-webkit-scrollbar {
    display: none;
}

body::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.07);
    margin-bottom: 100px;
    backdrop-filter: blur(0px);
    z-index: -1;
    scroll-behavior: smooth;
}

section {
    border-top: 1px solid #fff;
    margin-right: 20px;
    margin-left: 20px;
    padding-top: 50px;
}

header {
    text-shadow: -5px 0 5px #000;
    position: relative;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: auto; /* Change height to auto */
    padding-bottom: 80px;
}

nav ul {
    list-style: none;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
    font-size: 18px;
}

.cta2 {
    text-align: center;
    padding-top: 100px;
    padding-bottom: 20px;
}

.cta2 h2 {
    font-size: 3.125vw;
}

.cta2 p {
    font-size: 1.563vw;
    padding-top: 25px;
    opacity: 0.7;
}

.scroll-to-top {
    box-shadow: 10px 10px 15px rgba(0, 0, 0, 1);
    background-color: #141414;
    letter-spacing: 5px;
    position: fixed;
    bottom: 400px;
    right: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 80px;
    height: 150px;
    color: #fff;
    font-weight: 100;
    font-size: 20px;
    text-align: center;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    z-index: 9999;
}

.scroll-to-top:hover {
    color: #e31b6d;
    transition: all 0.3s ease-in-out;
    border-radius: 10px;
}

.scroll-to-top-text {
    margin-top: 10px;
    writing-mode: vertical-rl;
    text-orientation: sideways-right;
}

/* Video section */
.video-section {
    background-color: #141414; /* Dark background color */
    text-align: center;
    margin: 0 auto;
    padding: 50px 0;
}

.video-container-wrapper {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin: 0 auto;
    width: 80%;
}

.video-container {
    position: relative;
    padding: 2px;
    margin: 10px;
    flex: 0 0 calc(25% - 20px); /* Adjusted to fit 4 items per row */
    max-width: calc(25% - 20px); /* Adjusted to fit 4 items per row */
    border: 2px solid #141414; /* Border color */
    background-color: #141414; /* Background color */
    transition: border-color 0.3s ease; /* Transition for border color */
}

.video-container:hover {
    transform: translateY(-5px);
    border-color: #e31b6d; /* Border color on hover */
}

.video-container iframe {
    width: 100%;
    height: 200px;
    border: none;
}

.png-size {
    width: 60%;
    margin-left: 70px;
    height: 200px;
    transform: scale(1);
    display: block;
    border: none;
}

.video-description {
    padding: 10px;
    margin-top: 10px;
    font-size: 1.2rem;
    color: #888888; /* Light gray text color */
}

.video-title {
    font-size: 1.2rem;
    margin-top: -10px;
    margin-bottom: 15px;
    color: #ffffff; /* White text color */
}

.video-info {
    font-size: 1rem;
    opacity: 0.7;
    color: #cccccc; /* Light gray text color */
}

.video-link {
    color: #cccccc; /* Accent color */
    text-decoration: none;
    transition: color 0.3s ease;
    margin-top: 10px;
}

.video-link:hover {
    color: #e31b6d; /* Lighter accent color on hover */
}

.footer2 {
    position: relative; /* Change from absolute to relative */
    margin-top: auto; /* Add margin-top: auto */
    width: 100%;
    background-color: transparent;
    color: #fff;
    text-align: center;
    padding: 20px;
}

#home-btn {
    text-decoration: none;
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    font-weight: 100;
    font-size: 25px;
    padding: 10px 20px;
    margin-left: 30px;
    margin-top: 100px; /* Adjust this value to position the button below the header */
    border-bottom: 1px solid #fff;
    box-shadow:0 10px 15px rgba(0,0,0,1);
    transition: all .3s ease-in-out;
    display: inline-block; /* Ensure the button behaves as an inline-block element */
}

#home-btn:hover {
    color: #e31b6d;
    border-radius: 20px;
}

/* Laptops and Desktops (Large Screens) */
@media (min-width: 992px) and (max-width: 1440px) {
    /* Styles for large screens here */
    
    body {
      margin: 50px auto; /* Increase margin for larger screens */
    }
    
    header {
      padding-bottom: 100px; /* Increase padding for larger screens */
    }
    
    .video-container-wrapper {
      flex-wrap: wrap; /* Allow videos to wrap on multiple lines */
      justify-content: space-evenly; /* Distribute videos evenly */
    }
    
    .video-container {
      flex: 0 0 calc(33.33% - 20px); /* Adjust to fit 3 videos per row */
      max-width: calc(33.33% - 20px); /* Adjust to fit 3 videos per row */
    }

        /* Increase font size and padding for .cta2 on ;aptops */
    .cta2 {
      font-size: 2rem; /* Adjust font size for laptops */
      padding-top: 30px;
      padding-bottom: 20px;
    }
    
    .cta2 h2 {
        padding-top: 20px;
      font-size: 3.5rem; /* Adjust heading size for laptops */
    }
    
    .cta2 p {
      font-size: 2rem; /* Adjust paragraph size for laptops */
      opacity: 0.8;
    }
  }
  
  /* Tablets (Medium Screens) */
  @media (min-width: 768px) and (max-width: 991px) {
    /* Styles for medium screens here */
    
    body {
      margin: 30px auto; /* Adjust margin for tablets */
    }
    
    header {
      padding-bottom: 80px; /* Adjust padding for tablets */
    }
    
    .video-container-wrapper {
      flex-wrap: wrap; /* Allow videos to wrap on multiple lines */
      justify-content: space-evenly; /* Distribute videos evenly */
    }
    
    .video-container {
      flex: 0 0 calc(50% - 20px); /* Adjust to fit 2 videos per row */
      max-width: calc(50% - 20px); /* Adjust to fit 2 videos per row */
    }

    .cta2 {
      font-size: 2rem; /* Adjust font size for mobile */
      padding-top: 50px;
      padding-bottom: 20px;
    }
    
    .cta2 h2 {
      font-size: 2rem; /* Adjust heading size for mobile */
    }
    
    .cta2 p {
      font-size: 1.5rem; /* Adjust paragraph size for mobile */
      opacity: 0.8;
    }
}
  
  /* Mobile Phones (Small Screens) */
  @media (max-width: 767px) {
    /* Styles for small screens here */
    
    body {
        margin: 5px;
    }
    
    header {
      padding-bottom: 50px; /* Adjust padding for mobile */
    }
    
    .video-container-wrapper {
      flex-wrap: wrap; /* Allow videos to wrap on multiple lines */
      justify-content: space-evenly; /* Distribute videos evenly */
    }
    
    .video-container {
      flex: 0 0 100%; /* Make each video take full width on mobile */
      max-width: 100%; /* Make each video take full width on mobile */
    }
    
    .scroll-to-top {
      display: none; /* Adjust scroll-to-top position for mobile */
    }
    
    /* Increase font size and padding for .cta2 on mobile */
    .cta2 {
      font-size: 2rem; /* Adjust font size for mobile */
      padding-top: 30px;
      padding-bottom: 20px;
    }
    
    .cta2 h2 {
      font-size: 1.75rem; /* Adjust heading size for mobile */
    }
    
    .cta2 p {
      font-size: 1rem; /* Adjust paragraph size for mobile */
      opacity: 0.8;
    }
  }
  